/* add your styling and layout CSS here*/
td {
    width: 50px;
    height: 50px;
    border: 0.5px solid #000;
    text-align: center;

}

td:nth-of-type(3n) {
    border-right: 2px solid rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

tr:nth-of-type(3n) td {
    border-bottom: 2px solid rgb(0, 0, 0);
    text-align: center;

}

table {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-left:auto;margin-right:auto;

}

